@import url(common.css);
body {
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
}

/** {
    margin: 0;
    padding: 0;
   }
  */
  ul li {
    
    padding-left: 20px;
}
 